<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>


    <script>



        $(document).ready(function () {

            var testDataUrl = "http://uira.com.br/files/ocorrencias.json"

            $("#example").DataTable({
                "ajax": testDataUrl,
                "columns": [
                    { "data": "data.numero_Ocorrencia" },
                    { "data": "data.assunto" },
                    { "data": "data.cliente" },
                    { "data": "data.tipo_Ocorrencia" },
                    { "data": "data.canal_Abertura" },
                    { "data": "data.e_mail" },
                    { "data": "data.grupo" },
                    { "data": "data.cota" },
                    { "data": "data.data_Criacao" },
                    { "data": "ata.criado_Por" },
                ]
            });
        });


        $(function () {
            $("#example").DataTable();

            // Premade test data, you can also use your own
            

            $("#loadData").click(function () {
                loadData();
            });

            function loadData() {

                $.ajax({
                    url: "http://localhost:14364/api/asc/ocorrencias",
                    type: "POST",
                    crossDomain: true,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        nome: "ter02699@rootbrasil",
                        senha: "Caixa123"
                    }),
                    cors: true,
                    secure: true,
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                    },
                    dataType: "json",
                    beforeSend: function () {
                        // setting a timeout
                        $('body').addClass("loading");
                    },
                    success: function (data) {
                        populateDataTable(data.data);
                        $('body').removeClass("loading");
                    },
                    error: function (xhr, status) {
                        alert("error");
                    }
                });
            }

            // populate the data table with JSON data
            function populateDataTable(data) {
                console.log("populating data table...");
                console.log(data);

                // clear the table before populating it with more data
                $("#example").DataTable().clear();
                var length = Object.keys(data).length;

                // You could also use an ajax property on the data table initialization
                $('#example').dataTable().fnAddData([
                    data.numero_Ocorrencia,
                    data.assunto,
                    data.cliente,
                    data.tipo_Ocorrencia,
                    data.canal_Abertura,
                    data.e_mail,
                    data.grupo,
                    data.cota,
                    data.data_Criacao,
                    data.criado_Por,
                ]);
            }
        });

    </script>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
        }

        /* enquanto estiver carregando, o scroll da página estará desativado */
        body.loading {
            overflow: hidden;
        }

        body.loading .modal {
            display: block;
        }
    </style>

    <!------ Include the above in your HEAD tag ---------->
    <title>Certificado RTF</title>
</head>
<body>
    <div class="container">
        <div>
            <button id="loadData" class="btn btn-default">Load Data</button>
        </div>
        <div class="panel">

            <table id="example" class="table table-striped table-bordered nowrap" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Número da Ocorrência</th>
                        <th>Assunto</th>
                        <th>Cliente</th>
                        <th>CPF/CNPJ</th>
                        <th>Tipo de Ocorrência</th>
                        <th>Canal de Abertura</th>
                        <th>E-mail</th>
                        <th>Grupo</th>
                        <th>Cota</th>
                        <th>Data Criação</th>
                        <th>Criado Por</th>
                    </tr>
                </thead>
            </table>
        </div>
        <button id="loadData" class="btn btn-success">Baixar Excel</button>

    </div>
    <div class="modal"></div>
</body>
</html>
